*.DS_Store
WAGO_TEST/Wago_DEV/New project_ecp.precompilecache
WAGO_TEST/Wago_DEV/New project.PFC200_2ETH_RS.Sim.PFC200_2ETH_RS.Application.b66115e5-cb12-44a9-ba77-e99cb6f0cc32.simulation.compileinfo
WAGO_TEST/Wago_DEV/New project.PFC200_2ETH_RS.Sim.PFC200_2ETH_RS.Application.b66115e5-cb12-44a9-ba77-e99cb6f0cc32.simulation.bootinfo_guids
WAGO_TEST/Wago_DEV/New project.PFC200_2ETH_RS.Sim.PFC200_2ETH_RS.Application.b66115e5-cb12-44a9-ba77-e99cb6f0cc32.simulation.bootinfo
WAGO_TEST/Wago_DEV/New project-bcloos-BENCLOOSF01B.opt
WAGO_TEST/Wago_DEV/New project-AllUsers.opt
